/* App.css */
.app-container {
  display: flex;
  background-color: black;
  height: 100vh; /* Full viewport height */
}

.main-content {
  flex: 1; /* Fill the remaining space */
  padding: 20px;
  overflow-y: auto; /* Add scrollbar if content overflows */
}
